* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clear {
  clear: both; }

a:link {
  text-decoration: none;
  color: #000000; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: #000; }

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #000; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #000; }

.arrow-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #000; }

.arrow-left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #000; }

body {
  background-color: #F0EEEF;
  font-family: helvetica;
  font-size: 1em; }
  body h1 {
    font-size: 3em; }
  body h2 {
    font-size: 2em; }
  body h3 {
    font-size: 1.5em; }

.wrapper {
  background: linear-gradient(#F0EEEF, #fff);
  margin: 0 auto 0;
  width: 100%; }
  @media all and (min-width: 481px) {
    .wrapper {
      background-color: #fff;
      margin: 0 auto 0;
      width: 98%; } }

.banner {
  display: none; }
  @media all and (min-width: 481px) {
    .banner {
      display: block;
      margin: 1em 0 1em 0;
      background: transparent url("../imgs/bannerroad1.png") 0 no-repeat fixed;
      background-size: cover;
      max-width: 100%;
      height: 25.000em; } }

.header {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center; }
  @media all and (min-width: 481px) {
    .header {
      font-size: 10em;
      text-transform: uppercase;
      text-align: center;
      font-weight: 200; } }

nav {
  padding: 1em 0 0.5em 0; }
  @media all and (min-width: 481px) {
    nav ul {
      display: table;
      line-height: 1em;
      width: 100%;
      font-size: 1.25em;
      padding: 1em 0 0.5em 0; } }
  nav li {
    text-align: center;
    padding-bottom: 1em;
    font-size: 1.5em; }
    @media all and (min-width: 481px) {
      nav li {
        display: table-cell;
        width: 16.666667%;
        text-align: center;
        white-space: nowrap; } }

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clear {
  clear: both; }

a:link {
  text-decoration: none;
  color: #000000; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: #000; }

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #000; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #000; }

.arrow-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #000; }

.arrow-left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #000; }

body {
  background-color: #F0EEEF;
  font-family: helvetica;
  font-size: 1em; }
  body h1 {
    font-size: 3em; }
  body h2 {
    font-size: 2em; }
  body h3 {
    font-size: 1.5em; }

.wrapper {
  background: linear-gradient(#F0EEEF, #fff);
  margin: 0 auto 0;
  width: 100%; }
  @media all and (min-width: 481px) {
    .wrapper {
      background-color: #fff;
      margin: 0 auto 0;
      width: 98%; } }

.banner {
  display: none; }
  @media all and (min-width: 481px) {
    .banner {
      display: block;
      margin: 1em 0 1em 0;
      background: transparent url("../imgs/bannerroad1.png") 0 no-repeat fixed;
      background-size: cover;
      max-width: 100%;
      height: 25.000em; } }

.header {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center; }
  @media all and (min-width: 481px) {
    .header {
      font-size: 10em;
      text-transform: uppercase;
      text-align: center;
      font-weight: 200; } }

.grid-container {
  width: 100%; }
  @media all and (min-width: 481px) {
    .grid-container {
      padding: 0;
      width: 95%;
      margin: 0 auto; } }

.box, .form-box, .sidebar {
  width: 100%;
  float: left;
  border-bottom: #000 solid 0px;
  background-color: #F0EEEF;
  margin-bottom: .5em; }
  .box p, .form-box p, .sidebar p {
    padding: 1em; }
  @media all and (min-width: 481px) {
    .box, .form-box, .sidebar {
      display: block;
      width: 30%;
      float: left;
      margin: 1em 0 0 1em;
      border: #000 solid 0px; } }
  .box p, .form-box p, .sidebar p {
    padding: .5em; }

.form-box {
  width: 100%;
  background-color: #F0EEEF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F0EEEF), to(#fff));
  background-image: -webkit-linear-gradient(top, #F0EEEF, #fff);
  background-image: linear-gradient(top, #F0EEEF, #fff); }
  @media all and (min-width: 481px) {
    .form-box {
      width: 61.5%; } }

.sidebar {
  width: 100%;
  background-color: #F0EEEF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F0EEEF), to(#fff));
  background-image: -webkit-linear-gradient(top, #F0EEEF, #fff);
  background-image: linear-gradient(top, #F0EEEF, #fff); }
  .sidebar div {
    float: left;
    margin: 1em; }
  @media all and (min-width: 481px) {
    .sidebar {
      width: 30.1%; } }

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clear {
  clear: both; }

a:link {
  text-decoration: none;
  color: #000000; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: #000; }

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #000; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #000; }

.arrow-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #000; }

.arrow-left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #000; }

body {
  background-color: #F0EEEF;
  font-family: helvetica;
  font-size: 1em; }
  body h1 {
    font-size: 3em; }
  body h2 {
    font-size: 2em; }
  body h3 {
    font-size: 1.5em; }

.wrapper {
  background: linear-gradient(#F0EEEF, #fff);
  margin: 0 auto 0;
  width: 100%; }
  @media all and (min-width: 481px) {
    .wrapper {
      background-color: #fff;
      margin: 0 auto 0;
      width: 98%; } }

.banner {
  display: none; }
  @media all and (min-width: 481px) {
    .banner {
      display: block;
      margin: 1em 0 1em 0;
      background: transparent url("../imgs/bannerroad1.png") 0 no-repeat fixed;
      background-size: cover;
      max-width: 100%;
      height: 25.000em; } }

.header {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center; }
  @media all and (min-width: 481px) {
    .header {
      font-size: 10em;
      text-transform: uppercase;
      text-align: center;
      font-weight: 200; } }

.rounded-border, form, input[type='text'], fieldset, .styled-select, select, input[type='checkbox'] {
  border-radius: .5em;
  border: 2px solid #000; }

form {
  font-size: 1em;
  margin: 1em auto;
  border-radius: 0;
  padding: 1em;
  width: 90%; }

input, select {
  outline: none; }

label {
  padding: 0 .5em 0 .5em; }

/* Text Input */
input[type='text'] {
  background-color: #fff;
  color: #000;
  font-size: 1em;
  margin: .2em 0 1em;
  padding: .25em;
  width: 75%; }

/* Radio Buttons */
fieldset {
  background-color: #fff;
  width: 90%;
  margin-bottom: 1em;
  padding: .5em .5em; }

input[type='radio'] {
  appearance: none;
  border: solid .1em;
  border-radius: 2em;
  background-color: #fff;
  color: #fff;
  cursor: pointer;
  height: 2.5em;
  width: 2.5em;
  margin-top: 0;
  vertical-align: text-top; }

/* Dropdown Box */
.styled-select {
  display: inline-block;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  margin-bottom: 1.5em;
  padding: .25em 0;
  position: relative; }

select {
  display: inline-block;
  background-color: transparent;
  font-size: 1em;
  border: solid 1px #fff;
  border-width: 0 0 0 1px;
  cursor: pointer;
  color: #000;
  display: inline-block;
  font-size: 1em;
  margin: 0;
  padding: 0 2em 0 1em;
  width: 15em; }

/* Checkbox */
input[type='checkbox'] {
  background-color: #fff;
  cursor: pointer;
  font-size: 1em;
  padding: .25em;
  height: 1em;
  width: 1em;
  vertical-align: text-bottom; }

/* Submit Button */
input[type='submit'] {
  width: 10em;
  border: 2px solid #000;
  background-color: #fff;
  cursor: pointer;
  color: #000;
  float: right;
  font-size: 1.25em;
  padding: .25em 1em;
  margin-bottom: 1em; }

input[type='submit']:hover {
  background-color: #F0EEEF;
  box-shadow: 2px 2px 2px #888888;
  /*border-bottom: 10px solid #000;*/ }

.footer-wrapper, .footer-top, .footer-bottom {
  width: 100%;
  height: 10em;
  margin: 0 0 0 0;
  padding: 0 0 0 0; }

.footer-top {
  background: #F0EEEF;
  height: 5em; }

.footer-bottom {
  background: #AACBDA; }

/*# sourceMappingURL=main.css.map */
