
//Linear Gradient mixin

@mixin linear-gradient($from-color, $to-color){
	background-color: $from-color;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from-color), to($to-color));
	background-image: -webkit-linear-gradient(top, $from-color, $to-color);
	background-image: linear-gradient(top, $from-color, $to-color);
}


//Font Variables

$base-font: helvetica;
$base-font-size: 1em;
$base-font-color: #000;
$h1-font-size: 3em;
$h2-font-size: 2em;
$h3-font-size: 1.5em;
$h1-padding: .25em 0em .25em .25em;



//Color Variables

$bg: #F0EEEF;
$wrapper-bg: #fff;

//Margin & Padding Reset

*{
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

//Clear

.clear {clear:both;}

//links

a:link{
  text-decoration: none;
  color: #000000;
}

a:hover{
  text-decoration: underline;
}

a:visited{
  color: #000;
}

//arrows

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #000;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #000;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #000;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;	
	border-right:20px solid #000; 
}


//Body

body{
	background-color: $bg;
	font-family: $base-font;
	font-size: $base-font-size;

		h1{
			font-size: $h1-font-size;
		}

		h2{
			font-size: $h2-font-size;
		}
		h3{

			font-size: $h3-font-size;
			
		}
}

//Wrapper

.wrapper{
	background: linear-gradient(#F0EEEF, #fff);
	margin: 0 auto 0;
	width: 100%;
	@media all and (min-width: 481px){
		background-color: $wrapper-bg;
		margin: 0 auto 0;
		width: 98%;
	}
}

//Banner Image

.banner{
	margin: 1em 0 1em 0;
	background: transparent url('../imgs/bannerroad1.png') 0 no-repeat fixed;
	background-size: cover;
	max-width: 100%;
	height: 25.000em;
	}





