@import 'base';

//grid variables

$grid-padding: 0;
$grid-margin: 0 auto;
$border-color: #000;
$border-thick: 0px;
$border-style: solid;
$box-margin: 1em 0 0 1em; 


.grid-container{
	width: 100%;
	
		@media all and (min-width: 481px){
		padding: $grid-padding;
		width: 95%;
		margin: $grid-margin;
		
		}
}


.box{
	width: 100%;
	float: left;
	border-bottom: $border-color $border-style $border-thick;
	background-color: $bg;
	margin-bottom: .5em;

	p{
		padding: 1em;
	}

		@media all and (min-width: 481px){
		display: block;
		width: 30%;
		float: left;
		margin: $box-margin;
		border: $border-color $border-style $border-thick;
			
		}

		p{
			padding: .5em;
		}
}


// Form box with sidebar

.form-box{
	@extend .box;
	width: 100%;
	@include linear-gradient(#F0EEEF, #fff);
		@media all and (min-width: 481px){
			width: 61.5%;
		}

}

.sidebar{
	@extend .box;
	width: 100%;
	@include linear-gradient(#F0EEEF, #fff);
	div{
		float: left;
		margin: 1em;
	}
		@media all and (min-width: 481px){
			width: 30.1%;
		}


}

