@import 'base';

//Nav Variables

$nav-font-size: 1.25em;
$nav-padding: 10px 0 5px 0;
$nav-li-padding: 5px;
$nav-margin: 10px;
$nav-padding: 1em 0 .5em 0;

nav{
	padding: $nav-padding;


	ul{
		display: table;
		line-height: 1em;
		width: 100%;
		font-size: $nav-font-size;
		padding: $nav-padding;

		}

	li{
		display: table-cell;
		width: 16.666667%;
		text-align: center;
		white-space: nowrap;
		}
	}